<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- example of a PropertyPlaceholderConfigurer using FileConfigProperties as the source of properties -->
    <bean name="fileConfigProperties" class="com.bitcup.configurator.FileConfigProperties">
        <constructor-arg value="app.properties"/>
    </bean>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="fileConfigProperties"/>
        <property name="placeholderPrefix" value="${pp."/>
    </bean>

    <mvc:annotation-driven/>

    <context:component-scan base-package="com.bitcup.configurator.spring"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- example use of the property placeholder -->
    <bean class="com.bitcup.configurator.spring.AppBean">
        <property name="number" value="${pp.appBean.num}"/>
    </bean>

    <!-- example of how app configs can be injected to other beans -->
    <bean name="someConfigs" class="com.bitcup.configurator.FileConfig">
        <constructor-arg value="app.properties"/>
    </bean>

</beans>